/* Запуск пересборки tailwindcss 
    npx @tailwindcss/cli -i ./css/base.css -o ./css/out.css --watch 
*/
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --radius-10: 10px;
    --shadow-test: 10px 10px 20px rgba(255, 255, 255, 80);
}

.bef_aft{
    @apply relative 
    before:absolute before:top-0   before:h-px before:w-[200vw] before:bg-(--pattern-fg) before:-left-[100vw] before:z-10 before:hidden sm:before:block
    after:absolute  after:bottom-0 after:h-px  after:w-[200vw]  after:bg-(--pattern-fg)  after:-left-[100vw]  after:z-10  after:hidden sm:after:block;
}

/* Анимация для ошибок */
.error-message {
    transition: all 0.3s ease;
}

/* Стили для невалидных полей */
input.invalid {
    border-color: #ec4899;
    color: #ec4899;
}

input.invalid:focus {
    border-color: #ec4899;
    box-shadow: 0 0 0 1px #ec4899;
}