/* Запуск пересборки tailwindcss 
    npx @tailwindcss/cli -i ./public/css/base.css -o ./public/css/out.css --watch 
*/
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --radius-10: 10px;
    --shadow-test: 10px 10px 20px rgba(255, 255, 255, 80);
    --font-Halvar: 'HalvarBreitt', sans-serif;
    --font-Rooftop: 'Rooftop', sans-serif;
}

@font-face {
    font-family: 'HalvarBreitt'; /* Имя шрифта, которое вы будете использовать в CSS */
    src: local("Halvar breitt"),
         local("HalvarBreitt"),
         url('./fonts/HalvarBreitt2-XBd.woff2') format('woff2'), /* Путь к файлу шрифта */
         url('./fonts/HalvarBreitt2-XBd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rooftop'; /* Имя шрифта, которое вы будете использовать в CSS */
    src: local("Rooftop"),
         url('./fonts/t2-Rooftop-Regular.woff2') format('woff2'), /* Путь к файлу шрифта */
         url('./fonts/t2-Rooftop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.input_numb{
    @apply w-5.5 sm:w-7 h-auto text-2xl sm:text-3xl text-gray-950 outline-none border border-transparent p-0 font-light font-Halvar items-end
}


/* Анимация для ошибок */
.error-message {
    transition: all 0.3s ease;
}

/* Стили для невалидных полей */
input.invalid {
    border-color: #ec4899;
    color: #ec4899;
}

input.invalid:focus {
    border-color: #ec4899;
    box-shadow: 0 0 0 1px #ec4899;
}

.nav-label {
    @apply block w-22 sm:w-26 text-center text-base text-black cursor-pointer px-0.5 sm:px-2 py-1 font-Rooftop duration-300
}

#navIndicator {
    will-change: transform;
    @apply w-23 sm:w-26
}

/* Стили для кастомных радио-кнопок */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
  }
  
  .custom-checkbox:checked {
    border-color: #FF3495;
  }
  
  .custom-checkbox:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #FF3495;
    border-radius: 50%;
  }